.facebook-665209-1-icon1,
.instagram-1362857-1-icon1 {
  position: absolute;
  top: 40px;
  left: 1587px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.link{
  color:white
}
.fealink{
  color: #9d7e57;
}
.facebook-665209-1-icon1 {
  left: 1461px;
}
.dayslay-note1,
.slaytheday1 {
  position: absolute;
  line-height: 64.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dayslay-note1 {
  top: 49px;
  left: 342px;
  font-weight: 600;
  width: 431px;
  height: 72px;
}
.slaytheday1 {
  top: 68px;
  left: 699px;
  font-size: var(--font-size-13xl);
  color: var(--color-sandybrown);
  width: 181px;
  height: 50px;
}
.email-3178165-1-icon1 {
  position: absolute;
  top: 40px;
  left: 1335px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.list-item-link1,
.logo1 {
  position: absolute;
  top: calc(50% - 26.2px);
  left: 301px;
  width: 135px;
  height: 52px;
}
.list-item-link1 {
  left: 89px;
  width: 83px;
  height: 47px;
  overflow: hidden;
}
.logo-3-icon1 {
  position: absolute;
  top: 33px;
  left: 245px;
  width: 97px;
  height: 103px;
  object-fit: cover;
}
.footer2 {
  top: 0;
  background-color: var(--color-darkslategray);
  height: 170.4px;
}
.footer1,
.footer2,
.picture-icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.footer1 {
  top: 3373px;
  background-color: var(--color-darkslategray);
  height: 170.4px;
  text-align: center;
  font-size: var(--font-size-29xl);
  font-family: var(--sheldon8284hocooscom-oswald-regular-54);
}
.picture-icon1 {
  top: 80px;
  max-width: 100%;
  overflow: hidden;
  height: 368px;
  object-fit: cover;
}
.frame16,
.heading-31 {
  position: absolute;
  height: 28.8px;
}
.heading-31 {
  top: 0;
  left: 170px;
  line-height: 28.8px;
  display: flex;
  align-items: center;
  width: 532.9px;
}
.frame16 {
  top: 88px;
  left: 0;
  width: 702.9px;
  overflow: hidden;
}
.heading-12 {
  position: absolute;
  top: 0;
  left: calc(50% - 351.45px);
  line-height: 64.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 482px;
  height: 65px;
}
.frame17,
.heading-13 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame17 {
  width: 702.9px;
  height: 65px;
  overflow: hidden;
  text-align: center;
  font-size: var(--sheldon8284hocooscom-oswald-regular-54-size);
  color: var(--sheldon8284hocooscom-pearl-bush);
  font-family: var(--sheldon8284hocooscom-oswald-regular-54);
}
.heading-13 {
  background-color: var(--sheldon8284hocooscom-barley-corn);
  width: 309px;
  height: 2px;
}
.frame14,
.frame15,
.frame18 {
  position: absolute;
  top: 75px;
  left: 89px;
  width: 524.9px;
  height: 2px;
  overflow: hidden;
}
.frame14,
.frame15 {
  top: 45.4px;
  left: 0;
  width: 702.9px;
  height: 116.8px;
}
.frame14 {
  top: 56.1px;
  left: 75px;
  height: 162.2px;
}
.do-you-have1 {
  margin: 0;
}
.do-you-have-container1,
.welcome-to-dayslay-container1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 21.6px;
}
.welcome-to-dayslay-container1 {
  top: 99px;
}
.frame19,
.frame20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 712px;
  height: 164px;
  overflow: hidden;
}
.frame19 {
  top: 40.5px;
  left: 998px;
  height: 193.4px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.about-us2 {
  position: absolute;
  width: 100%;
  top: 448px;
  right: 0;
  left: 0;
  background-color: var(--color-dimgray);
  height: 274px;
  color: var(--sheldon8284hocooscom-barley-corn);
}
.heading-43 {
  position: absolute;
  top: 704.3px;
  left: 79px;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  line-height: 28.8px;
  font-weight: 600;
  font-family: var(--sheldon8284hocooscom-quicksand-regular-24);
  color: var(--sheldon8284hocooscom-pearl-bush);
  text-align: left;
  display: flex;
  align-items: center;
  width: 106px;
  height: 28.8px;
}
.view-office-desk-with-messy-wo-icon1 {
  position: absolute;
  top: 12px;
  left: 29px;
  width: 1882px;
  height: 622px;
  object-fit: cover;
}
.gallery1 {
  position: absolute;
  width: calc(100% - 399px);
  top: 25px;
  right: 410px;
  left: -11px;
  background-color: var(--color-dimgray);
  height: 746px;
}
.frame21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 722px;
  left: 0;
  width: 2328px;
  height: 803px;
  overflow: hidden;
}
.heading-22,
.heading-44 {
  display: flex;
  align-items: center;
}
.heading-22 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--sheldon8284hocooscom-oswald-regular-54-size);
  line-height: 64.8px;
  font-family: var(--sheldon8284hocooscom-oswald-regular-54);
  width: 232.1px;
  height: 64.8px;
}
.heading-44 {
  top: 19.9px;
  left: 557px;
  width: 233px;
  height: 29px;
}
.heading-44,
.heading-45,
.streamline-your-life1 {
  position: absolute;
  line-height: 28.8px;
  font-weight: 600;
}
.heading-45 {
  top: 19.9px;
  left: 1423px;
  display: flex;
  align-items: center;
  width: 293px;
  height: 29px;
}
.streamline-your-life1 {
  top: 16.9px;
  left: 978px;
  color: var(--color-white);
}
.our-mission1 {
  position: absolute;
  top: 1525px;
  left: 117px;
  width: 1716px;
  height: 64.8px;
  overflow: hidden;
  color: var(--sheldon8284hocooscom-pearl-bush);
}
.our-mission-is-container1,
.were-dedicated-to-container1 {
  position: absolute;
  top: 0;
  left: 436px;
  line-height: 21.6px;
}
.our-mission-is-container1 {
  left: 870px;
}
.description1 {
  position: absolute;
  top: 1611px;
  left: 546px;
  width: 1323px;
  height: 87px;
  overflow: hidden;
  font-size: var(--font-size-lg);
}
.arvey1,
.ck1,
.heading-23,
.kat1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-23 {
  top: 30px;
  left: calc(50% - 90.4px);
  font-size: var(--sheldon8284hocooscom-oswald-regular-54-size);
  line-height: 64.8px;
  font-family: var(--sheldon8284hocooscom-oswald-regular-54);
  text-align: center;
  justify-content: center;
  width: 181.7px;
  height: 80px;
}
.arvey1,
.ck1,
.kat1 {
  top: 788px;
  left: 736px;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  line-height: 28.8px;
  font-weight: 600;
  width: 267px;
  height: 29px;
}
.arvey1,
.ck1 {
  left: 138px;
}
.ck1 {
  top: 1386px;
  width: 367px;
}
.designer-web-developer2,
.project-manager-designer1 {
  position: absolute;
  top: 830px;
  left: 736px;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  width: 384px;
  height: 23px;
}
.designer-web-developer2 {
  left: 138px;
  width: 298px;
}
.meet-the-team-container1 {
  position: absolute;
  top: 142px;
  left: 626px;
  line-height: 21.6px;
  color: var(--color-white);
  text-align: center;
}
.arv-1-icon1,
.kat-1-icon1,
.laptop-airport-lounge-53876-14-icon1 {
  position: absolute;
  top: 294px;
  left: 736px;
  width: 459px;
  height: 459px;
  object-fit: cover;
}
.arv-1-icon1,
.laptop-airport-lounge-53876-14-icon1 {
  left: 138px;
  width: 462px;
}
.laptop-airport-lounge-53876-14-icon1 {
  left: 1331px;
  width: 461px;
}
.analyst-designer-web1,
.jiro1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.jiro1 {
  top: 788px;
  left: 1331px;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  line-height: 28.8px;
  font-weight: 600;
  width: 267px;
  height: 29px;
}
.analyst-designer-web1 {
  top: 830px;
  left: 1323px;
  line-height: 21.6px;
  width: 384px;
  height: 23px;
}
.ck-icon1,
.rodee-icon1 {
  position: absolute;
  top: 914px;
  left: 138px;
  width: 461px;
  height: 459px;
  object-fit: cover;
}
.rodee-icon1 {
  left: 1323px;
}
.designer-web-developer3 {
  position: absolute;
  top: 1428px;
  left: 138px;
  line-height: 21.6px;
  display: flex;
  align-items: center;
  width: 298px;
  height: 23px;
}
.adrian1,
.quality-assurance-web1 {
  position: absolute;
  left: 736px;
  display: flex;
  align-items: center;
}
.adrian1 {
  top: 1386px;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  line-height: 28.8px;
  font-weight: 600;
  width: 367px;
  height: 29px;
}
.quality-assurance-web1 {
  top: 1428px;
  line-height: 21.6px;
  width: 298px;
  height: 23px;
}
.analyst-web-developer1,
.rodee1 {
  position: absolute;
  left: 1323px;
  display: flex;
  align-items: center;
}
.rodee1 {
  top: 1386px;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  line-height: 28.8px;
  font-weight: 600;
  width: 367px;
  height: 29px;
}
.analyst-web-developer1 {
  top: 1428px;
  line-height: 21.6px;
  width: 298px;
  height: 23px;
}
.our-team3 {
  position: absolute;
  width: calc(100% + 28px);
  top: 0;
  right: 0;
  left: -28px;
  background-color: var(--color-dimgray);
  height: 1481px;
}
.image-1-icon1 {
  position: absolute;
  top: 914px;
  left: 706px;
  width: 461px;
  height: 459px;
  object-fit: cover;
}
.list-item-link2,
.our-team2 {
  position: absolute;
  overflow: hidden;
}
.our-team2 {
  top: 1773px;
  left: 0;
  width: 1920px;
  height: 1554px;
  font-size: var(--font-size-lg);
  color: var(--sheldon8284hocooscom-pearl-bush);
}
.list-item-link2 {
  top: calc(50% - 20.8px);
  left: 61px;
  width: 83px;
  height: 42px;
}
.features2,
.list-item-link3 {
  position: absolute;
  width: 105px;
}
.features2 {
  top: 11px;
  left: 14px;
  line-height: 25.6px;
  display: flex;
  align-items: center;
  height: 20px;
}
.list-item-link3 {
  top: calc(50% - 21.8px);
  left: 242px;
  height: 42px;
  overflow: hidden;
}
.list-item-link4,
.list-item-link5,
.list-item-link6 {
  position: absolute;
  top: calc(50% - 20.8px);
  left: 446px;
  width: 98px;
  height: 42px;
  overflow: hidden;
}
.list-item-link5,
.list-item-link6 {
  top: calc(50% - 21.2px);
  left: 7.5px;
  width: 76px;
}
.list-item-link5 {
  top: calc(50% - 21.8px);
  left: 580px;
  width: 117px;
}
.home1 {
  position: absolute;
  top: 10px;
  left: -7px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 68px;
  height: 20px;
}
.support1 {
  top: 10px;
  left: 566px;
  width: 86px;
  -webkit-text-stroke: 1px transparent;
}
.about-us3,
.contact-us1,
.support1 {
  position: absolute;
  line-height: 25.6px;
  display: flex;
  align-items: center;
  height: 20px;
}
.about-us3 {
  top: 10px;
  left: 116px;
  color: var(--color-white);
  width: 155px;
}
.contact-us1 {
  top: 11px;
  left: 402px;
  width: 125px;
}
.heads1 {
  position: absolute;
  width: calc(100% - 1089.4px);
  top: calc(50% - 19px);
  right: 526.4px;
  left: 563px;
  height: 41.6px;
  text-align: left;
  color: var(--sheldon8284hocooscom-barley-corn);
}
.log-in2 {
  position: absolute;
  top: 12px;
  left: 23px;
  line-height: 19.2px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.8px;
  height: 20px;
}
.list-item-link7 {
  position: absolute;
  top: 0;
  left: 15px;
  background-color: var(--sheldon8284hocooscom-barley-corn);
  border: 1px solid var(--sheldon8284hocooscom-barley-corn);
  box-sizing: border-box;
  width: 144.4px;
  height: 45.2px;
}
.divkmb-header-menu-extras {
  position: absolute;
  top: calc(50% - 22.6px);
  left: 1355.6px;
  width: 174.4px;
  height: 45.2px;
  font-size: var(--font-size-base);
}
.dayslay-note2 {
  position: absolute;
  top: 4px;
  left: -39px;
  font-size: var(--font-size-29xl);
  line-height: 64.8px;
  font-weight: 600;
  font-family: var(--sheldon8284hocooscom-oswald-regular-54);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 431px;
  height: 72px;
}
.logo-2-icon1 {
  position: absolute;
  top: -7px;
  left: 370px;
  width: 97px;
  height: 103px;
  object-fit: cover;
}
.contact-page,
.header1 {
  background-color: var(--sheldon8284hocooscom-mine-shaft);
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 102px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.contact-page {
  position: relative;
  width: 100%;
  height: 3611px;
  text-align: left;
  font-size: var(--sheldon8284hocooscom-quicksand-regular-24-size);
  color: var(--color-white);
  font-family: var(--sheldon8284hocooscom-quicksand-regular-24);
}
@media screen and (max-width: 1200px) {
  .frame21 {
    opacity: 1;
  }
  .frame21.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
}
